Raspberry-pi-sensor-distância_18-04-2018/json
[{"id":"d2aa23ba.55eb2","type":"tab","label":"humidade_temperatura","disabled":true,"info":""},{"id":"d0120521.d45bf8","type":"tab","label":"sensor_distancia","disabled":false,"info":""},{"id":"9f0818dd.459258","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"33a5e595.c6e70a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"51b4fa8d.57e0d4","type":"ui_group","z":"","name":"Gauge","tab":"dbbd4cdb.0b181","disp":true,"width":"6","collapse":false},{"id":"7d2f3b4d.88ae94","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"b83c717d.5f273","type":"mui_tab","z":"","name":"Raspberry Dashboards","icon":"dashboard"},{"id":"d0dba477.04f318","type":"mui_group","z":"","name":"Histórico","tab":"b83c717d.5f273","disp":true,"width":"6","collapse":false},{"id":"dbbd4cdb.0b181","type":"ui_tab","z":"","name":"Raspberry Dashboards","icon":"dashboard"},{"id":"5c22b413.a9ef7c","type":"ui_group","z":"","name":"Histórico","tab":"dbbd4cdb.0b181","disp":true,"width":"6","collapse":false},{"id":"3ec9d2d0.e7c32e","type":"wiotp-credentials","z":"","name":"RaspberryPI3","org":"yh9d4z","serverName":"yh9d4z.messaging.internetofthings.ibmcloud.com","devType":"raspberry","devId":"raspberry","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"ac51a441.49bac8","type":"twitter-credentials","z":"","screen_name":""},{"id":"8f2d6cfe.b89be","type":"chatbot-telegram-node","z":"","botname":"","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":""},{"id":"ff5272a0.f5e1f","type":"http in","z":"d2aa23ba.55eb2","name":"payload","url":"/payload","method":"post","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["a5be9bb0.2f65d8","19a4320f.a393ce","509f0264.151a4c","f118406e.04fa3"]]},{"id":"a5be9bb0.2f65d8","type":"file","z":"d2aa23ba.55eb2","name":"stream","filename":"/home/pi/Documents/stream.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":460,"y":200,"wires":[]},{"id":"19a4320f.a393ce","type":"http response","z":"d2aa23ba.55eb2","name":"http op","statusCode":"200","headers":{},"x":470,"y":280,"wires":[]},{"id":"509f0264.151a4c","type":"json","z":"d2aa23ba.55eb2","name":"","property":"payload","action":"","pretty":false,"x":410,"y":360,"wires":[["9458cdf2.a06b4","a6bac084.336fe"]]},{"id":"9458cdf2.a06b4","type":"function","z":"d2aa23ba.55eb2","name":"split data","func":"var msgTemp_DHT11 = {payload: msg.payload.temperature};\nvar msgHumid_DHT11 = {payload: msg.payload.humidity};\n\nreturn [msgTemp_DHT11, msgHumid_DHT11];","outputs":2,"noerr":0,"x":620,"y":400,"wires":[["36902d4b.ea3ba2","cad31da.503a9e"],["60c4021d.22c98c","b80e4a6c.4d9848"]]},{"id":"36902d4b.ea3ba2","type":"ui_gauge","z":"d2aa23ba.55eb2","name":"","group":"51b4fa8d.57e0d4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"graus","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":320,"wires":[]},{"id":"60c4021d.22c98c","type":"ui_gauge","z":"d2aa23ba.55eb2","name":"","group":"51b4fa8d.57e0d4","order":0,"width":0,"height":0,"gtype":"gage","title":"Umidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":460,"wires":[]},{"id":"cad31da.503a9e","type":"ui_chart","z":"d2aa23ba.55eb2","name":"","group":"5c22b413.a9ef7c","order":0,"width":0,"height":0,"label":"Temperatura (2 minutos)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":400,"wires":[[],[]]},{"id":"b80e4a6c.4d9848","type":"ui_chart","z":"d2aa23ba.55eb2","name":"","group":"5c22b413.a9ef7c","order":0,"width":0,"height":0,"label":"Umidade (2 minutos)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":520,"wires":[[],[]]},{"id":"a6bac084.336fe","type":"wiotp out","z":"d2aa23ba.55eb2","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"3ec9d2d0.e7c32e","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"Watson IoT","x":610,"y":540,"wires":[]},{"id":"f118406e.04fa3","type":"file","z":"d2aa23ba.55eb2","name":"stream-data.txt","filename":"/home/pi/Documents/stream-data.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":490,"y":140,"wires":[]},{"id":"d36b26ed.ad7238","type":"inject","z":"d0120521.d45bf8","name":"Sensor","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":220,"wires":[["5e29e47e.149acc"]]},{"id":"5e29e47e.149acc","type":"exec","z":"d0120521.d45bf8","command":"sudo python3 /home/pi/Documents/Python/Raspberry-pi-sensor-distância_18-04-2018/sensor-distancia.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Ultrasonic","x":480,"y":240,"wires":[["2a073f67.43efa"],["2a073f67.43efa"],[]]},{"id":"2a073f67.43efa","type":"debug","z":"d0120521.d45bf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":200,"wires":[]}]
